Source: python-babel
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders:
 Christoph Haas <haas@debian.org>,
 Thomas Goirand <zigo@debian.org>,
 Nilesh Patra <nilesh@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-sphinx,
 python3-all,
 python3-pytest,
 python3-setuptools,
 python3-tz,
Build-Depends-Indep:
 python3-freezegun,
 unicode-cldr-core,
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://babel.pocoo.org/
Vcs-Git: https://salsa.debian.org/python-team/packages/python-babel.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-babel

Package: python-babel-doc
Architecture: all
Section: doc
Depends:
 ${misc:Depends},
 ${sphinxdoc:Depends},
Built-Using:
 ${sphinxdoc:Built-Using},
Multi-Arch: foreign
Description: tools for internationalizing Python applications - documentation
 Babel is composed of two major parts. First tools to build and work with
 gettext message catalogs. Second a Python interface to the CLDR (Common
 Locale Data Repository), providing access to various locale display
 names, localized number and date formatting, etc.
 .
 This package contains the Babel documentation.

Package: python-babel-localedata
Architecture: all
Depends:
 ${misc:Depends},
Built-Using:
 ${Built-Using},
Multi-Arch: foreign
Description: tools for internationalizing Python applications - locale data files
 Babel is composed of two major parts. First tools to build and work with
 gettext message catalogs. Second a Python interface to the CLDR (Common
 Locale Data Repository), providing access to various locale display
 names, localized number and date formatting, etc.
 .
 This package contains the locale data files used by both python-babel and
 python3-babel.

Package: python3-babel
Architecture: all
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 python-babel-localedata (= ${source:Version}),
 python3-pkg-resources,
 ${misc:Depends},
 ${python3:Depends},
Built-Using:
 ${Built-Using},
Description: tools for internationalizing Python applications - Python 3.x
 Babel is composed of two major parts. First tools to build and work with
 gettext message catalogs. Second a Python interface to the CLDR (Common
 Locale Data Repository), providing access to various locale display
 names, localized number and date formatting, etc.
 .
 This package provides the Python 3.x module.
